In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import RandomOverSampler
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [3]:
cols = ["Gender",	"Age",	"Height",	"Weight",	"family_history",	"FAVC",	"FCVC",	"NCP",	"SMOKE",	"CH2O",	"CALC", "RESULT"]
df = pd.read_csv("data1.csv", names = cols)
df.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,CALC,RESULT
0,0,21.0,1.62,64.0,1,0,2.0,3.0,0,2.0,0,1
1,0,21.0,1.52,56.0,1,0,3.0,3.0,1,3.0,1,1
2,1,23.0,1.80,77.0,1,0,2.0,3.0,0,2.0,2,1
3,1,27.0,1.80,87.0,0,0,3.0,3.0,0,2.0,2,2
4,1,22.0,1.78,89.8,0,0,2.0,1.0,0,2.0,1,3

In [4]:
train, valid, test = np.split(df.sample(frac=1), [int(0.75*len(df)), int(0.85*len(df))])

In [5]:
def scale_dataset(dataframe, oversample=False):
  x = dataframe[dataframe.columns[:-1]].values
  y = dataframe[dataframe.columns[-1]].values

  scaler = StandardScaler()
  x = scaler.fit_transform(x)

  if oversample:
    ros = RandomOverSampler()
    x, y = ros.fit_resample(x, y)

  data = np.hstack((x, np.reshape(y, (-1, 1))))

  return data, x, y

In [6]:
train, x_train, y_train = scale_dataset(train, oversample=True)

In [7]:
valid, x_valid, y_valid = scale_dataset(valid, oversample=False)
test, x_test, y_test = scale_dataset(test, oversample=False)

In [8]:
svm_model = SVC()
svm_model = svm_model.fit(x_train, y_train)

In [9]:
y_pred = svm_model.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.92      0.93        87
           1       0.86      0.85      0.85        91
           2       0.84      0.85      0.85        74
           3       0.89      0.93      0.91        91
           4       0.98      0.96      0.97       105
           5       1.00      1.00      1.00        75
           6       1.00      1.00      1.00       111

    accuracy                           0.93       634
   macro avg       0.93      0.93      0.93       634
weighted avg       0.93      0.93      0.93       634